#YearColumn {
    min-width: 300px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    word-wrap: break-word;
}
h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(21, 64, 115, .15);
  border: 1px solid rgba(21, 64, 115, .2);
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
div.courseCell {
    width: 95%;
    height: 80%;
    padding: 10px;
    border: 1px solid #aaaaaa;
    word-wrap:					break-word;
	overflow-wrap: 				break-word;
}
div.courseContainer {
	overflow:					auto;
    background-color:	 		white;
	color: 						black;
	margin:						5px;
	padding:					5px 10px 5px 10px;
	border:						2px solid;
	word-wrap:					break-word;
	overflow-wrap: 				break-word;
}